<h1>Types of designs</h1>
<h3>@Model.currCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.allCars)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@car.img" alt="@car.name" />
                <h2>@car.name </h2>
                <p>@car.shortDesc</p>
                <p><a class="btn btn-light" href="https://complet-info.ru/wp-content/uploads/2019/05/14-stil-minimalizm.jpg">Смотреть</a></p>
            </div>
        }
    }
</div>

@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}